
@font-face {
	font-family: Roboto;
	src: url(../Roboto-Light.ttf);
}

body {
	width: 100% !important;
	overflow: hidden !important;
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	user-select: none;
}

::-webkit-scrollbar { 
	display: none;
	overflow-x: hidden;
}

#parallax {
	z-index: 0;
}

#splash {
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 199;
	background-image:
		radial-gradient(
			rgb(200,0,0) 30%,
			transparent 35%
		),
		radial-gradient(
			hsla(0,0%,0%,.3),
			transparent 35%
		);
	background-position: 50% 50%, 50% calc(50% + .5em);
	background-size: 4em 4em, 6em 2em;
	background-repeat: no-repeat;
	animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    background-position: 50% calc(50% - 4em), 50% calc(50% + .4em);
    background-size: 4em 4em, 2em 2em;
    }
  40% {
    background-position: 50% 50%, 50% calc(50% + .3em);
    background-size: 4em 4em, 6em 2em;
    }
  45% {
    background-position: 50% 50%, 50% calc(50% + .3em);
    background-size: 4em 3em, 6em 2em;
    }
  50% {
    background-position: 50% 50%, 50% calc(50% + .3em);
    background-size: 4em 2em, 6em 2em;
    }
  100% {
    background-position: 50% calc(50% - 4em), 50% calc(50% + .3em);
    background-size: 4em 4em, 2em 2em;
    }
  }

#navbarghost {
	width: 100%;
	position: absolute;
	z-index: 1;
}
#navbar {
	width: 100%;
	background-color: #f8f8f8;
	position: absolute;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	transition: all 0.3s ease;
	vertical-align: middle;
	z-index: 2;
}
#navbar ul {
	margin: 0px;
	display: inline;
	overflow-x: hidden !important;
	z-index: -2;
}
#navbar li {
	color: #000000;
	display: inline-block;
	padding: 16pt;
	transition: all 0.3s ease;
}
#navbar li:hover {
	color: #ff0000;
	cursor: pointer;
}
#navbutton {
	height: 100%;
	position: absolute;
	display: inline-block;
	float: left;
	left: 0px;
	display: none;
	background-color: #f8f8f8;
	z-index: -1;
}
#overlap { /* для перекрытия меню в навбаре ПОКА УБРАЛ */
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f8f8f8;
	display: none;
}
#menu {
	transition: all 0.3s ease;
}

/* для расположения контента посередине */
.wrap {
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;
}
.wrap .wrap {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.title {
	text-align: center;
	padding: 1em 1em 1em 1em;
	font-size: 24pt;
	font-weight: bold;
	background-color: #f8f8f8;
}
.desc {
	text-align: center;
	font-size: 16pt;
}

table {
	width: 100%;
}
table td {
	text-align: center;
	width: 25%;
}

.card {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
.shopping_card {
	width: 45%;
	height: 90%;
	margin: 8px 1% 8px 1%;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	padding-top: 8px;
	display: inline-block;
	top: 0px;
}
.shopping_card img {
	height: 50%;
	max-width: 80%;
	margin: 8px;
}

.feedback_card {
	width: 30%;
	margin: 1%;
	display: inline-block;
}
.feedback_card img {
	width: 128px;
	height: 128px;
	border-radius: 999px;
	box-shadow: -2px 2px 8px 0px rgba(0,0,0,0.0);
	float: left;
}
.feedback_card .name {
	font-weight: bold;
	text-align: right;
	background-color: #35a;
	padding: .5em;
	border-radius: 5px 5px 0px 0px;
	color: #ffffff;
	margin-bottom: 72px;
	font-size: 16pt;
}
.feedback_card .text {
	margin: 16px;
	font-size: 16pt;
	text-align: left;
}

.button {
	font-size: 16pt;
	background-color: #cc1010;
	color: #ffffff;
	display: inline-block;
	padding: 8px;
	margin: 8px;
	border: none;
	border-radius: 4px;
	border-top: 3px solid #ff7070;
	border-bottom: 3px solid transparent;
	user-select: none;
	box-shadow: none;
	outline: none;
}
.button:focus {
	outline: none;
}
.button:hover {
	background-color: #cc3030;
	cursor: pointer;
}
.button:active {
	background-color: #aa1010;
	border-top-color: transparent;
	border-bottom: 3px solid #cc3030;
	cursor: pointer;
}
.button-green {
	background-color: #109910;
	border-top: 3px solid #50ff50;
}
.button-green:hover {
	background-color: #10aa10;
}
.button-green:active {
	background-color: #107710;
	border-top-color: transparent;
	border-bottom-color: #10aa10;
}
.icon {
	height: 60%;
}
.icon-box {
	width: 20%;
	height: 80%;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}
form {
	padding: 2em;
}
form input {
	width: 320px;
	background-color: #f8f8f8;
	border: 1px solid transparent;
	box-shadow: none;
	font-size: 20pt;
	padding: 4pt;
	margin-bottom: 1em;
	border-radius: 8px;
}
form input:focus {
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
}
form input.error {
	border: 1px solid red;
}
form input[type=hidden] {
	margin: 0px 0px 0px 0px;
}
#form-sent {
	color: #ffffff;
	font-size: 24pt;
	display: none;
	padding: 2em;
	background: rgba(255,255,255,0.3);
	transition: all 3s linear;
}
#form-sent-window {
	color: #000000;
	padding: 1em;
	display: none;
}

#window {
	position: absolute;
	left: 50%;
	top: -100%;
	margin-left: -192px;
	text-align: center;
	transition: all 0.3s linear;
	z-index: 1;
}
#window form {
	height: inherit;
	text-align: center;
}
#window .close {
	width: 24px;
	float: right;
	text-align: center;
	font-size: 16px;
	padding: 16pt;
	cursor: pointer;
}

#footer {
	margin-top: 1em;
	position: absolute;
	float: left;
	bottom: 0px;
	background-color: #fae3ed;
	background-image: url(../img/girl.jpg);
	background-position: bottom center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	padding: 2em 2em 0em 2em;
}
#footer #footer-left {
	width: 49%;
	text-align: left;
	vertical-align: top;
}
#footer #footer-right {
	width: 49%;
	text-align: right;
	vertical-align: top;
}